@model Cover
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="EditPost">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Cover Type</h2>
            <div class="border-3 w-100 bg-primary" style="height:2px"></div>
        </div>
        <div class="mb-3">
            <input asp-for="Id" hidden />
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class=" form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit" style="width:150px">Update</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> &nbsp;
            Back to List
        </a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
